<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/> 
  <title>微信支付</title>

  <link rel="stylesheet" href="<!--{$plugin_path}-->/template/libs/weui/0.3.0/weui.min.css"/>
  <script src="<!--{$plugin_path}-->/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="<!--{$plugin_path}-->/template/libs/requirejs/2.1.9/require.js"></script>
  <style>
    .weui_label {width:4em;}
    .weui_cell_bd {width:100%;text-align:right;}
    .weui_cell_bd span {display:inline-block;width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
  </style>  
  <script>
    var ajaxapi="<!--{$ajaxapi}-->";
    var jsApiParameters = <!--{$jsApiParameters}-->;
    var rui="<!--{$rui}-->";
    require.config({
        baseUrl: "<!--{$plugin_path}-->/template/src/",
        packages: [
            {name:'jquery', location:'<!--{$plugin_path}-->/template/libs/jquery/1.11.2', main:'jquery.min'},
            {name:'mwt', location:'<!--{$plugin_path}-->/template/libs/mwt/2.6.1', main:'mwt.min'}
        ]
    });
    define("main",function(require){
        require("mwt");
        return { init:function(){
            require("wxpay/page").execute();
        }};
    });
    jQuery(document).ready(function($) {
        require(["main"],function(main){
            main.init(); 
        });
    });
  </script>
</head>
<body style="background:#eee;padding:10px;">

  <!-- 支付页面 -->
  <div name="panel-div" style="display:block;">
    <center>支付金额</center>
    <h1 style="font-family:Arial;text-align:center;margin:15px 0 20px 0;font-size:48px;"><!--{$feestr}--></h1>
    <div class="weui_cells" style="width:100%;background:#fff;border:solid 1px #ccc;border-radius:4px;margin:0 0 20px 0;">
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">收款方:</label></div>
        <div class="weui_cell_bd"><span><!--{$mchname}--></span></div>
      </div>
      <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">商&nbsp;&nbsp;&nbsp;品:</label></div>
          <div class="weui_cell_bd"><span><!--{$body}--></span></div>
      </div>
    </div>
    <a id='paybtn' href="javascript:;" class="weui_btn weui_btn_primary">立即支付</a>
  </div>

  <!-- 支付成功 -->
  <div name="panel-div" style="display:none;">
    <div class="weui_msg">
      <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
      <div class="weui_text_area">
          <h2 class="weui_msg_title">支付成功</h2>
      </div>
      <div class="weui_opr_area" style="display:none;">
        <p class="weui_btn_area">
          <a href="javascript:window.opener=null;window.open('','_self');window.close();" class="weui_btn weui_btn_primary">确定</a>
        </p>
      </div>
    </div>
  </div>

</body>
</html>
